* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  height: 40px;
  width: -webkit-fill-available;
  min-width: 40px;
  border-radius: 20px;
  font-weight: 800;
  background-color: blanchedalmond;
  margin: 5px;
}

input[type="text"] {
  width: -webkit-fill-available;
  height: 50px;
}
