$border-color: #cccccc;
$white: #ffffff;
$btn-primary: #8bc34a;
$btn-secondary: #2095f2;
$err-color: #f44336;
$disabled-color: #999999;

$button-margin: 20px;
$border-radius: 10px;

$container-height: 200px;
$container-width: 500px;

$bg-color: #ffff7c;
$left-bg: #009926;
$right-bg: #00e01e;

$bg-color2: #ff7c7c;
$left-bg2: #ff4949;
$right-bg2: #fa3333;

$btn-bg2: #8f0202;
$btn-bg: #ff7b6c;
