body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/background1.jpg");
}

ul {
  list-style: none;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 100%;
}

.banner > img {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: lightgoldenrodyellow;
}

.nav-links {
  margin: auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.nav-items {
  height: 25px;
  margin: 3px;
  padding: 4px;
  border: 2px solid black;
  border-radius: 5px 0;
  background: white;
  box-shadow: 1px 1px 0px #c3c3c3, -1px -1px 0px #101010;
}

.nav-search {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 10px;
}

.nav-search > input {
  height: 14px;
  margin: auto;
}

.nav-search > button {
  height: 20px;
  width: 20px;
  margin: auto;
  background: none;
  padding: 0;
}

.nav-search > button > img {
  height: 100%;
}

.content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
}

.left-align,
.video,
.right-align {
  width: 33%;
}

.left-align > img,
.video > video {
  height: 100%;
}

.right-align {
  width: 34%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  padding-top: 66px;
}

.title ~ img {
  width: 85%;
}

.deals {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cars-deals {
  width: 80%;
  border: 5px solid brown;
}

.cars-deals > img {
  width: 100%;
}

aside {
  width: 20%;
  background-color: chocolate;
}

.cars {
  margin: 0;
}

.cars > li {
  padding: 10px 0;
}
